<!DOCTYPE html>
<html lang="en">
<head>
    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sahaswut Moonsing Portfolio</title>
    <link rel="stylesheet" href="/index.css"> 
</head>
<body>
    <header>
        <ul>
      <li><a class="navbar" href="/Profile">Name</a></li>
      <li><a class="navbar" href="/Profile/aboutme">Aboutme</a></li>
      <li><a class="navbar" href="/Profile/education">education</a></li>
      <li><a class="navbar" href="/Profile/workexperience">workexperience</a></li>
      <li><a class="navbar" href="/Profile/skill">skill</a></li>
        </ul>
         </header>
        <main>
            {{{body}}}
            </main>
</body>
</html>